/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
} */

.dialogTitle {
  text-align: center;
}
